<h1>Inventory<h1>
<ul>
    <li>Orders
        <ul>
            <li>Receive Shipment</li>
            <li>Record a Sale</li>
            <li>Make a Shipment</li>
            <li>Confirm a Shipment</li>
        </ul>
    </li>
    <li>Reports
        <ul>
            <li>Inventory</li>
            <li>Need to Purchase</li>
            <li>Shipment Summary</li>
            <li>Popular Items</li>
        </ul>
    </li>
    <li>Data
        <ul>
            <li><%= link_to 'Inventory Items', controller: 'items' %></li>
            <li><%= link_to 'Customers', controller: 'customers' %></li>
            <li><%= link_to 'Warehouses', controller: 'warehouses' %></li>
            <li>Orders</li>
            <li>Shipments</li>
        </ul>
    </li>
    <li>Inventory
        <ul>
            <li>Warehouse Transfer</li>
            <li>Start a Physical Inventory</li>
            <li>Show Partial Inventories</li>
            <li>Commit a Physical Inventory</li>
        </ul>
    </li>
</ul>



